// General

$font: 'Roboto', sans-serif;
$color: #2E4E7D;
$color-heading: #012864;
$transition-duration: 0.25s;
$min-width: 320px;

// Colors
$blue: #0387D1;
$light-blue: #00AAE4;
$red: #F80000;
$gray: #788E9B;
$black: #012864;

// Forms
$input-bg: #fff;
$input-border: #788E9B;
$input-height: 56px;
$input-border-radius: 50px;

// Adaptive
$input-md-height: 51px;
$input-sm-height: 45px;

// Breadcrumb
$breadcrumb-bg: #F8FCFD;

// Line
$line-bg: #CDDBE2;