// Reset styles
input,
select,
button,
textarea {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
textarea {
    outline: none;
}

.select {
    width: 290px;

    & + div {
        margin-top: 30px;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}


.form {
    &__t {
        margin-bottom: 20px;
    }
    
    &__control {
        position: relative;
        height: 46px;
        transition: 0.15s;
        border-radius: 2px;
        border: 1px solid #CDDBE2;
        background-color: #fff;

        &:hover {
            border-color: $gray;
        }

        &.error {
            border-color: $red;
        }

        &--search {
            height: 47px;
            border-color: $gray;
            border-radius: 50px;
            background-image: url('../images/icons/search.svg');
            background-position: 20px 14px;
            background-repeat: no-repeat;

            .form__input {
                padding: 10px 20px 10px 46px;
                border-radius: 50px;
            }
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 15px 15px 5px;
        border: none;
        background-color: transparent;
        color: $color;
        font-size: 16px;
        line-height: 1.6;

        &:focus,
        &.filled {
            & + .form__label {
                top: 5px;
                font-size: 10px;
                line-height: 1.2;
            }
        }

        &:focus {
            box-shadow: 0px 0px 3px #35C3F3;
        }
    }

    &__label {
        position: absolute;
        pointer-events: none;
        top: 10px;
        left: 15px;
        width: calc(100% - 30px);
        transition: 0.15s;
        color: $gray;
        font-size: 16px;
        line-height: 1.6;
        background-color: #fff;
        text-align: left;
    }

    &__textarea {
        position: relative;
        height: 130px;
        padding: 10px 10px 10px 0;
        transition: 0.15s;
        border-radius: 2px;
        border: 1px solid #CDDBE2;
        background-color: #fff;

        &-wrapper {
            height: 100%;
            overflow: hidden;
        }

        textarea {
            width: 100%;
            height: 106px;
            padding: 25px 15px 0;
            resize: none;
            border: none;
            background-color: transparent;
            color: $color;
            font-size: 16px;
            line-height: 1.6;
        }
    }

    // Checkbox
    &__checkbox {
        & + .form__checkbox {
            margin-top: 10px;
        }

        &-label {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 24px;
            cursor: pointer;
        }

        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);

            &:checked {
                & + .form__checkbox-box {
                    border-color: $blue;
                    background-color: $blue;
                    background-image: url('../images/icons/checked.svg');
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
            }
        }

        &-name {
            font-size: 12px;
        }

        &-box {
            position: absolute;
            top: 1px;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 2px;
            border: 1px solid #B4C9D4;
            background-color: #fff;

            &:hover {
                border-color: $blue;
            }
        }
    }

    // Filters
    &__filters {
        padding: 20px 15px;
        border-radius: 10px;
        border: 1px solid $line-bg;

        .form__control--search {
            margin: 20px 0 10px;
        }

        .select {
            width: 100%;
        }

        .select2-container .select2-selection--single {
            height: 47px;

            .select2-selection__arrow {
                border-width: 8px 4px 0;
            }
        }

        .form__text {
            margin-top: 20px;
            font-size: 12px;
            line-height: 1.4;
        }
    }

    @media (max-width: 991px) {
        &__control {
            height: 43px;
        }

        &__input,
        &__label,
        &__textarea textarea {
            font-size: 14px;
        }

        &__filters {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 60px;
            padding: 0;
            border: none;
            background-color: transparent;

            .form__t {
                display: none;
            }

            .form__control--search {
                margin: 0;
            }

            .form__control,
            .select {
                width: 290px;
            }

            .form__control--search,
            .select2-container .select2-selection--single {
                height: 51px;
            }

            .form__text {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    @media (max-width: 767px) {
        &__control {
            height: 41px;
        }

        &__filters {
            .form__control,
            .select {
                width: 100%;
            }
        }
    }
}
