.gallery {
    display: flex;
    align-items: center;
    margin: 30px 0;
    min-height: calc(100% - 60px);

    &__content {
        position: relative;
    }

    &__close {
        top: 15px;
        right: 30px;

        @extend %close;
    }

    &__main {
        height: 550px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #fff;

        .swiper-wrapper,
        .swiper-slide {
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-arrow {
            top: 50%;
            transform: translateY(-50%);

            &--prev {
                left: 20px;
            }

            &--next {
                right: 20px;
            }
        }

        .swiper-lazy-preloader {
            --swiper-preloader-color: #788E9B;
        }
    }

    &__pic {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    &__nav {
        display: flex;
        gap: 0 10px;

        .gallery__item {
            width: 80px;
            height: 80px;
            border: 2px solid transparent;
            border-radius: 5px;
            background-color: #fff;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
            
            &.swiper-slide-thumb-active {
                border-color: #61D7FF;
            }
        }
    }

    @media (max-width: 991px) {
        &__main {
            height: 450px;
            margin-bottom: 18px;

            .swiper-arrow {
                &--prev {
                    left: 10px;
                }

                &--next {
                    right: 10px;
                }
            }
        }

        &__nav {
            .gallery__item {
                width: 76px;
                height: 76px;
            }
        }
    }

    @media (max-width: 767px) {
        &__main {
            height: 400px;
            margin-bottom: 10px;

            .swiper-arrow {
                &--prev {
                    left: 10px;
                }

                &--next {
                    right: 10px;
                }
            }
        }

        &__nav {
            .gallery__item {
                width: 40px;
                height: 40px;
            }
        }
    }
}